<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Sinan Kocatürk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Ana Sayfa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Hakkımda</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/projects" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projeler
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/opencv">OpenCV</a>
          <a class="dropdown-item" href="/yolo">YOLO</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/other">Diğer Projeler</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/nicks">Kullanıcılar</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      {% if session["logged_in"]  %}

      <li class="nav-item active">
       <a class="nav-link" href="/logout">Çıkış <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Kontrol Paneli <span class="sr-only">(current)</span></a>
       </li>
       {% else  %}
       <li class="nav-item active">
       <a class="nav-link" href="/login">Giriş <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="/register">Kaydol</a>
      </li>
      {% endif %}


    </ul>
  </div>
</nav>