{% extends 'layout.html' %}

{% block title %} <title>
    Kontrol Paneli
</title>
{% endblock %}

{% block yazi %}
<br><br>
    <p>Hoşgeldiniz {{session["username"]}} </p>
    <a href="/addnick" class="btn btn-danger"> İsim Ekle </a>

{% if mylist %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Server</th>
        <th scope="col">Kaydeden</th>
        <th scope="col">Karakter ismi</th>
        <th scope="col">Kayıt</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      {% for list in mylist %}
      <tr>
        <th scope="row">{{list.id}}</th>
        <td>{{list.title}}</td>
        <td>{{list.author}}</td>
        <th> <a href="/nick/{{list.id}}" >{{list.content}}</a></th>
        <th>{{list.created_date}}</th>
        <th scope="col"> <a href="/edit/{{list.id}}" class="btn btn-danger">Güncelle</a></th>
        <th scope="col"> <a href="/delete/{{list.id}}" class="btn btn-danger">Sil</a></th>
      </tr>
      {% endfor %} 

    </tbody>
  </table>
{% else %}
<div class= "alert alert-danger">Henüz nickiniz bulunmuyor</div>
{% endif %}
{% endblock  %}